.header {
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 5%);
  position: relative;
  z-index: 9;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}
.logo span {
  color: #ef4a24;
}
.number {
  font-size: 18px;
  transform: translateY(2px);
  color: #333;
  font-weight: 400;
}
.nav {
  margin-top: 20px;
  border-right: 3px solid #ef4a24;
}
.list {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
