.header {
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 5%);
  position: relative;
  z-index: 9;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .top {
    flex-direction: column;
  }
}
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}
.logo span {
  color: #ef4a24;
}
.logic {
  display: flex;
  align-items: center;
}
.number {
  font-size: 18px;
  transform: translateY(2px);
  color: #000;
  font-weight: 400;
  margin-right: 20px;
}
.cart {
  cursor: pointer;
}
.cartWrap {
  color: #000;
}
.nav {
  margin-top: 20px;
  border-right: 3px solid #ef4a24;
}
.list {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.list-item {
  color: #000;
  transition: 0.1s;
  padding-bottom: 10px;
}
.list-item:hover {
  color: #ef4a24;
  border-bottom: 2px solid #ef4a24;
}
.list-item--active {
  color: #ef4a24;
  padding-bottom: 10px;
  border-bottom: 2px solid #ef4a24;
}
