.item {
  display: grid;
  grid-template-columns: 70px 200px 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.item + .item {
  margin-top: 20px;
}
.remove {
  cursor: pointer;
  font-size: 40px;
  color: #333;
  justify-self: start;
  font-weight: 100;
}
.img {
  width: 100%;
  border-radius: 10px;
}
.price {
  justify-self: end;
}
.photo {
  justify-self: start;
}

@media (max-width: 992px) {
  .item {
    grid-template-columns: repeat(1, 1fr);
  }
  .top {
    display: none;
  }
}
