.wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 45fr 55fr;
  gap: 60px;
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.img {
  width: 100%;
}
.evaluation {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.star {
  color: orange;
  margin-left: 5px;
  font-size: 20px;
}
.info {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.description {
  margin-top: 16px;
  font-size: 16px;
  line-height: 18px;
}
.priceInfo {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
}
.price {
  margin-top: 14px;
  text-align: right;
  font-weight: 400;
  font-size: 26px;
  line-height: 22px;
}
.button {
  margin-top: 25px;
  align-self: flex-end;
  padding-right: 30px;
  padding-left: 30px;
}