.section {
  box-shadow: 0px -5px 20px -5px rgb(34 60 80 / 5%);
  padding: 40px 0 40px 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.73),
      rgba(255, 255, 255, 0.83)
    ),
    url(./../../assets/layout/section-bg.jpg);
}
.title {
  font-size: 30px;
}